SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:mysql://localhost:3306/scg_picture
DB_USERNAME=root
DB_PASSWORD=change-me
REDIS_HOST=localhost
REDIS_PORT=6379
COS_HOST=https://example.com
COS_SECRET_ID=change-me
COS_SECRET_KEY=change-me
COS_REGION=change-me
COS_BUCKET=change-me
ALIYUN_AI_API_KEY=change-me

